html {
  font-size: 16px;

  -webkit-font-smoothing: antialiased;
  line-height: 1.45;
}

body {
  background-color: var(--background-color);

  color: var(--text-dark-high-emphasis);
  font-family: var(--font-family-ibm-sans);
  font-size: var(--font-regular-size);

  -webkit-font-smoothing: antialiased;
  font-weight: 400;

  hyphens: auto;
  line-height: 180%;
  overflow-x: hidden;
  overflow-y: auto;
  word-break: break-word;
}

.ubq-public {
  --ubq-canvas: hsl(0,5.26%,3.73%);
  --ubq-elevation-1: hsl(0,4.55%,8.63%);
  --ubq-elevation-2: linear-gradient(to top, rgb(40, 22, 12) 10%, rgb(0, 0, 0));
  --ubq-elevation-3: rgb(0,0,0);
  --ubq-foreground-default: hsla(0,0%,100%,0.9);
  --ubq-foreground-light: hsla(0,0%,100%,0.7);
  --ubq-foreground-info: hsla(0,0%,100%,0.5);
  --ubq-foreground-active: hsla(0,0%,100%,0.9);
  --ubq-foreground-accent: hsl(0,0%,100%);
  --ubq-foreground-danger: hsla(210, 0%, 100%, 1);
  --ubq-interactive-default: hsl(0,5.26%,18.63%);
  --ubq-interactive-hover: hsl(0,5.71%,13.73%);
  --ubq-interactive-pressed: hsl(0,6.25%,6.27%);
  --ubq-interactive-selected: hsl(0,6.02%,16.27%);
  --ubq-interactive-active-default: hsl(0,0%,0%);
  --ubq-interactive-active-hover: hsl(0,0%,5%);
  --ubq-interactive-active-pressed: hsl(0,0%,0%);
  --ubq-interactive-accent-default: rgb(167,74,31);
  --ubq-interactive-accent-hover: hsl(0,0%,5%);
  --ubq-interactive-accent-pressed: hsl(0,0%,0%);
  --ubq-interactive-danger-default: linear-gradient( 180deg, hsla(0, 0%, 100%, 0.07), hsla(0, 0%, 100%, 0) ), hsla(338, 64%, 62%, 0.85);
  --ubq-interactive-danger-hover: linear-gradient( 180deg, hsla(0, 0%, 100%, 0.07), hsla(0, 0%, 100%, 0) ), hsla(338, 64%, 62%, 0.65);
  --ubq-interactive-danger-pressed: hsla(338, 64%, 62%, 0.65);
  --ubq-interactive-template-default: linear-gradient( 180deg, hsla(0, 0%, 100%, 0.06), hsla(0, 0%, 100%, 0) ), hsla(274, 97%, 60%, 0.6);
  --ubq-interactive-template-hover: linear-gradient( 180deg, hsla(0, 0%, 100%, 0.06), hsla(0, 0%, 100%, 0) ), hsla(274, 97%, 60%, 0.5);
  --ubq-interactive-template-pressed: hsla(274, 97%, 60%, 0.5);
  --ubq-input-default: hsl(0,0%,0%);
  --ubq-input-hover: hsl(0,0%,0%);
  --ubq-interactive-group-default: hsla(0, 0%, 100%, 0);
  --ubq-interactive-group-hover: hsla(0, 0%, 100%, 0.04);
  --ubq-interactive-group-active-default: hsla(0, 0%, 100%, 0.08);
  --ubq-interactive-group-active-hover: hsla(0, 0%, 100%, 0.12);
  --ubq-border-default: hsla(0,5.08%,53.73%,0.1);
  --ubq-stroke-contrast-1: hsla(0,5.08%,53.73%,0.08);
  --ubq-stroke-contrast-2: hsla(0,5.08%,53.73%,0.25);
  --ubq-focus-default: hsl(339.45,0%,13.13%);
  --ubq-focus-outline: hsl(0,5.26%,3.73%);
  --ubq-overlay: hsla(210, 30%, 10%, 0.8);
  --ubq-notice-info: hsl(0,0%,0%);
  --ubq-notice-success: hsl(339.45,0%,8.49%);
  --ubq-notice-warning: hsl(339.45,0%,8.29%);
  --ubq-notice-error: hsl(339.45,0%,9.6%);
  --ubq-effect-shadow: 0px 4px 16px -4px hsla(210, 27%, 9%, 0.14), 0px 1px 20px -4px hsla(210, 27%, 9%, 0.12), 0px 2px 12px -4px hsla(210, 27%, 9%, 0.2);
  --ubq-effect-focus: 0 0 0 calc(4px / 2 - 0.01px) hsl(210, 30%, 10%), 0 0 0 4px hsl(230, 90%, 80%);
  --ubq-progress: hsla(0,0%,100%,0.7);
  --ubq-static-selection-frame: rgb(245, 131, 31);
  --ubq-static-contrast-white: hsl(0, 0%, 100%);
  --ubq-static-contrast-black: hsl(0, 0%, 0%);
  --ubq-static-snapping: hsl(338, 100%, 50%);
  --ubq-static-bleed: hsl(334, 73%, 43%);
  --ubq-static-text-variable: hsl(274, 97%, 60%);
  --ubq-static-card-label-background: linear-gradient( 180deg, rgba(0, 0, 0, 0) 14.46%, rgba(0, 0, 0, 0.6) 100% );
  --ubq-static-card-background: linear-gradient( 180deg, hsla(0, 0%, 100%, 0.08), hsla(0, 0%, 0%, 0.08) ), hsla(0, 0%, 67%, 0.16);
}
